{%extends "django_registration/base.html"%}
{% load crispy_forms_tags %}
{% load static %}
{% block content%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New Image</title>

    {% block styles %}

    <link rel="stylesheet" href="{% static 'css/styles.css'%}">
    {% endblock %}
</head>

<body>
    <div class="container">
    <form action="{% url 'edit_profile' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" class="btn btn-success btn-sm" value="Post">
    </form>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    {% endblock %}
    </div>
</body>